.modal {
  position: fixed;
  z-index: 1002;
  background-color: white;
  width: calc(100% - 2rem);
  border-radius: 8px;
  padding: 16px;
  left: 50%;
  transform: translate(-50%, -100vh);
  top: 30%;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms;

  &.show {
    transform: translate(-50%, 0);
  }
}
