.label {
  background: rgba(31, 117, 225, 0.08);
  border: 1px solid rgba(31, 117, 225, 0.63);
  border-radius: 2px;
  color: #1f75e1;
  padding: 4px 8px;
  font-size: 11px;
  display: inline-block;
}
